<h1> Sign Up </h1>

<%= render partial: "layouts/errors", locals: {object: @user} %>

<%= bootstrap_form_for(@user, url: signup_path) do |f| %>
    <%= f.email_field :email %><br>
    <%= f.text_field :username %><br>
    <%= f.password_field :password %><br>
    <%= f.password_field :password_confirmation %><br>
    <%= f.submit nil, class: 'btn btn-secondary' %>
<% end %>
