<%= bootstrap_form_for(@project) do |f| %>

        <%= f.text_field :address %>
        <%= f.text_area :overview %>

        <%= f.fields_for :goals do |ff| %>
          <h3> Goals for your Project </h3>

                <%= ff.hidden_field :id %>

                <%= ff.text_field :title %>

                <%= ff.text_field :description %>

                <%= ff.number_field :budget %>

                <%= ff.select :status, [["Not Started", "Not Started"], ["Incomplete", "Incomplete"], ["Completed", "Completed"]], :prompt => true %>

            <% end %>

    <%= f.submit nil, class: 'btn btn-secondary' %>
<% end %>