    <h1><%= current_user.username %>'s Projects and Collaborations</h1>
    <button><%= link_to "Create A New Project", new_project_path %></button><br>

    <% if current_user.projects.primary_or_owner.any? %>

        <h3> Projects I Own </h3>
        <% current_user.projects.primary_or_owner.each do |p| %>
            <ul>
                <%= render "project_link", {p: p} %> 
            </ul>
        <% end %>
    <% end %>


    <% if current_user.projects.update_and_view.any? %>
        <h3> Projects I Can Update </h3>
            <% current_user.projects.update_and_view.each do |p| %>
                <ul>
                <%= render "project_link", {p: p} %> 
                </ul>
            <% end %>
    <% end %>


    <% if current_user.projects.view_only.any? %>
        <h3> Projects I Can View </h3>
            <% current_user.projects.view_only.each do |p| %>
                <ul>
                <%= render "project_link", {p: p} %> 
                </ul>
            <% end %>
    <% end %>

