<% if !logged_in? %>
    <h1>Welcome to MyDIY</h1>
    <p> Please sign up or log in </p>
<% end %>


<% if logged_in? %>
    <h1><%= current_user.username %>'s Projects and Collaborations</h1>


<h3> Projects I Own </h3>
    <% Collaboration.project_user_is_owner(current_user).each do |p| %>
        <ul>
            <li><%= link_to p.address, project_path(p) %></li> 

        </ul>
    <% end %>
    <%= link_to "Create A New Project", new_project_path %>
    <br>


<h3> Projects I Can Update </h3>
    <% Collaboration.project_user_is_update(current_user).each do |p| %>
        <ul>
            <li><%= link_to p.address, project_path(p) %></li>
        </ul>
    <% end %>


<h3> Projects I Can View </h3>
    <% Collaboration.project_user_is_viewonly(current_user).each do |p| %>
        <ul>
            <li><%= link_to p.address, project_path(p) %></li>
        </ul>
    <% end %>
    
<% end %>


