<h1> Create a New Project </h1>

<% if @project.errors.any? %>
<div id="error_explanation">
  <h2>
    <%= pluralize(@project.errors.count, "error") %>
    prohibited this post from being saved:
  </h2>
  <ul>
  <% @project.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
</div>
<% end %>

<%= form_for(@project) do |f| %>

    <div>
        <%= f.label :address %>
        <%= f.text_field :address %>
        <br>
    </div>

    <div>
    <h3>Add Collaborators for your Project</h3>
        <%= f.fields_for :collaboration do |cc| %>
                <%= cc.hidden_field :id %>

                <h4>Assign roles</h4><br>

   NEED TO FIX THIS CHECKBOX FIELD OR REMOVE IT!!!             
                <%= cc.collection_check_boxes :user_ids, User.find(current_user.id), :id, :username,  { checked: true}  %>

                <%= cc.select  :role, [["Project Creator", "Project Creator"]]%>

                <br>

                <%= cc.collection_check_boxes :user_ids, User.all_except(current_user), :id, :username %>
                <%= cc.select  :role, [["Update and View", "Update and View"], ["View Only", "View Only"]] %>
                <br>

            <% end %>
            </div>

  <div>
    <h3> Create Goals for your Project </h3>
        <%= f.fields_for :goals do |ff| %>
          <div>
                <%= ff.hidden_field :id %>

                <%= ff.label :title %>
                <%= ff.text_field :title %>
                <br>

                <%= ff.label :description %>
                <%= ff.text_field :description %>
                <br>

                <%= ff.label :budget %>
                <%= ff.number_field :budget %>
                <br>

                <%= ff.label :status %>
                <%= ff.select :status, [["Not Started", "Not Started"], ["Incomplete", "Incomplete"], ["Completed", "Completed"]] %>
                <br>
            </div>
            <% end %>
   </div>

    <%= f.submit %>
<% end %>