<div class="row">
<h1>Project Details: <%= @project.address %></h1>
</div>


<div class="row">

    <div class="col-sm-6">


        <div class="card">
            <div class="card-body">
                <h4><%= @project.overview %></h4>

                <% if Collaboration.project_user_is_owner(current_user).include?(@project) || Collaboration.project_user_is_primary_owner(current_user).include?(@project)%>
                    <button><%= link_to "Edit Project Details", edit_project_path %></button>  <button><%= link_to "Add a New Goal", new_goal_path %></button>  <button><%= link_to "Add a New Collaborator", new_collaboration_path %></button>
                <% end %>
            </div>
        </div>


        <div class="card">
            <div class="card-body">
            <h5> Collaborators: </h5>




                <% @project.collaborations.where(role: "Primary Project Owner").each do |collaboration| %>
                    <div class="card">
                        <div class="card-body">
                            <%= collaboration.user.username %> - <%= collaboration.role %><br>
                        </div>
                    </div>
                <% end %>


                <% @project.collaborations.where.not(role: "Primary Project Owner").each do |collaboration| %>
                    <div class="card">
                        <div class="card-body">                   
                            <%= collaboration.user.username %> - <%= collaboration.role %>

                            <% if Collaboration.project_user_is_primary_owner(current_user).include?(@project) %>
                                <button><%= link_to "Edit Collaboration Details", edit_collaboration_path(collaboration) %></button>

                                <%= form_with(url: collaboration_path(collaboration), method: 'delete') do |f| %>
                                    <%= f.hidden_field :project_id, :value => params[:project_id] %>
                                    <%= f.submit "Delete Collaboration" %><br>
                                <% end %>
                            <% end %>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
</div>    

<div class="row">

    <% @project.goals.each.with_index(1) do |goal, i| %>
        <div class="col-sm-6">  
        
  
            <div class="card">
                <div class="card-body">  
                    <h4><%= link_to "Goal #{i}. #{goal.title}", goal_path(goal) %></h4>
                </div>
            </div>
        </div>
    <% end %>
</div>

<h3>Delete Project</h3>
<h6>Warning: Deleting this project will delete all goals, images, updates, and resources associated with this project</h6>
<% if Collaboration.project_user_is_primary_owner(current_user).include?(@project) %>
    <%= form_with(url: project_path(@project), method: 'delete') do |f| %>
        <%= f.submit "Delete Project" %>
    <% end %>
<% end %>





