<p> project show page - project_path </p>

<h1>Project Goals for <%= @project.address %></h1>
<h3><%= @project.overview %></h3>

<h4> Collaborators </h4>

<% @project.collaborations.where(role: "Project Owner").each do |collaboration| %>
    <%= collaboration.user.username %> - <%= collaboration.role %><br>
<% end %>

<% @project.collaborations.where.not(role: "Project Owner").each do |collaboration| %>
    <%= collaboration.user.username %> - <%= collaboration.role %> - <%= link_to "Edit Collaboration", edit_collaboration_path(collaboration) %><br>
<% end %>

<%= link_to "Edit Project Details", edit_project_path %> OR <%= link_to "Add a New Goal", new_goal_path %> OR <%= link_to "Add a New Collaborator", new_collaboration_path %>

<% @project.goals.each do |goal| %>
    <h3><%= link_to goal.title, goal_path(goal) %></h3>
    <li>Description: <%= goal.description %></li>
    <li>Estimated Budget: $<%= goal.budget %></li>
    <li>Status: <%= goal.status %></li>
    <li><%= link_to "Edit Goal Details", edit_goal_path(goal) %></li>
    <br>
<% end %>



