<div class="row">
    <div class="col-sm">
        <div class="card">
            <div class="card-body">

                <h1> Updates for <%= link_to @goal.title, goal_path(@goal) %> </h1>
                <h3><%= link_to @goal.project.address, project_path(@goal.project) %></h3>

                <% if current_user.projects.primary_or_owner_or_update.include?(@goal.project) %>
                    <%= button_to "Add an Update for this Goal", new_goal_update_path(@goal), method: "get", :class => "btn btn-outline-primary"  %>
                <% end %>

            </div>
        </div>
    </div>
</div>

<% @goal.updates.reverse.each do |update| %>

    <div class="row">
        <div class="col-sm">
            <div class="card" >
                <div class="card-header">

                    <h3><%= update.user.username %> - <%= update.human_readable_date %> - <%= update.content %></h3>

                    <% if current_user.projects.primary_or_owner_or_update.include?(@goal.project) %>
                        <%= form_with(url: update_path(update), method: 'delete') do |f| %>
                            <%= f.hidden_field :goal_id, :value => params[:goal_id] %>
                            <%= f.submit "Delete Update", :class => "btn btn-outline-danger" %>
                        <% end %>
                    <% end %>

                </div>
            </div>
        </div>
    </div>
<% end %>

