<h1> Add an Update for this Goal </h1>

<%= render partial: "layouts/errors", locals: {object: @update} %>


<%= bootstrap_form_for(@update, url: goal_updates_path) do |f| %>
    <%= f.hidden_field :id %>

    <%= f.text_area :content %><br>

    <%= f.submit nil, class: 'btn btn-secondary' %>
<% end %>