<div class="row">
    <div class="col-sm">
        <div class="card">
            <div class="card-body">

                <%= goals_index_title %>

            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-2">
        <div class="card">

        <%= form_tag(goals_path, method: :get) do %>
            <%= select_tag :priority, options_for_select(["Not Rated", "High", "Medium", "Low"]), {:include_blank => 'Filter by Priority', onchange: 'this.form.submit();'} %>
        <% end %>

        </div>
    </div>



    <div class="col-sm-2">
        <div class="card">

            <%= form_tag(goals_path, method: :get) do %>
                <%= select_tag :time_commitment, options_for_select(["Not Rated", "Under 1 Hour", "1-2 Hours", "Half Day", "Full Day", "Weekend", "Long Term"]), {:include_blank => 'Filter by Time', onchange: 'this.form.submit();'} %>
            <% end %>

        </div>
    </div>

    <div class="col-sm-2">
        <div class="card">
        
            <%= form_tag(goals_path, method: :get) do %>
                <%= select_tag :status, options_for_select(["Not Started", "Incomplete", "Completed"]), {:include_blank => 'Filter by Status', onchange: 'this.form.submit();'} %>
            <% end %>

        </div>
    </div>

    <div class="col-sm-2">
        <div class="card">

            <%= form_tag(goals_path, method: :get) do %>
                <%= select_tag :difficulty, options_for_select(["Not Rated", "Easy DIY", "Requires New Skills", "Hire an Expert"]), {:include_blank => 'Filter by Difficulty', onchange: 'this.form.submit();'} %>
            <% end %>
        
        </div>
    </div>

    <div class="col-sm-2">
        <div class="card">

            <%= form_tag(goals_path, method: :get) do %>
                <%= select_tag :budget, options_for_select([["Low to High Cost", "ASC"], ["High to Low Cost", "DESC"]]), {:include_blank => 'Sort by Budget', onchange: 'this.form.submit();'} %>
            <% end %>

        </div>
    </div>

    <div class="col-sm-2">
        <div class="card">

            <%= button_to "Reset", goals_path, method: "get", :class => "btn btn-outline-primary" %><br>

    </div>
</div>


</div>



<div class="row">
    <div class="col-sm-4">
        <div class="card">
            
            <div class="card-header">
                <h3> Not Started </h3>
            </div>
            <ul>
                <%= raw list_goals(@goals.not_started) %>
            </ul>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="card">
            <div class="card-header">
                <h3> Incomplete </h3>
            </div>
            <ul>
                <%= raw list_goals(@goals.incomplete) %>
            </ul>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="card">
            <div class="card-header">
                <h3> Completed </h3>
            </div>
            <ul>
                <%= raw list_goals(@goals.completed) %>
            </ul>
        </div>
    </div>
</div>

   