<h1>My Goals</h1>

<%= form_tag(goals_path, method: :get) do %>
    <%= text_field_tag :title %>
    <%= submit_tag "Search for Goal Title" %>
<% end %>

<% if @goals.completed.any? %>
    <h3> Completed </h3>
    <ul>
        <%= raw list_goals(@goals.completed) %>
    </ul>
<% end %>

<% if @goals.incomplete.any? %>
    <h3> Incomplete </h3>
    <ul>
        <%= raw list_goals(@goals.incomplete) %>
    </ul>
<% end %>

<% if @goals.not_started.any? %>
    <h3> Not Started </h3>
    <ul>
        <%= raw list_goals(@goals.not_started) %>
    </ul>
<% end %>
   