<h1><%= @goal.title%></h1>
<h3><%= link_to @goal.project.address, project_path(@goal.project) %></h3>

Description: <%= @goal.description %><br>
Estimated Budget: $<%= @goal.budget %><br>
Status: <%= @goal.status %><br>

<h3>Latest Image</h3>
<%= view_latest_image %><br>
<button><%= add_image %></button>
<button><%= view_all_images %></button>

<h3>Latest Update</h3>
<%= view_latest_update %>
<button><%= add_update %></button>
<button><%= view_all_updates %></button>

<h3>Latest Resource</h3>
<h6><%= view_latest_resource_link %></h6>
<button><%= add_resource %></button>
<button><%= view_all_resources %></button><br>




