<div class="row">
    <div class="col-sm-5">
        <div class="card">
            <div class="card-body">

                <h1><%= @goal.title%></h1>
                <h3><%= link_to @goal.project.address, project_path(@goal.project) %></h3>

            </div>
        </div>
    </div>

    <div class="col-sm-7">
        <div class="card">
            <div class="card-body">

                <h3><%= @goal.description %></h3>
                Status: <%= @goal.status %><br>

                <% if current_user.projects.primary_or_owner_or_update.include?(@goal.project) %>
                    Estimated Budget: $<%= @goal.budget %><br>
                    Difficulty: <%= @goal.difficulty %><br>
                    Priority: <%= @goal.priority %><br>
                    Time Commitment: <%= @goal.time_commitment %><br>
                    Time Spent: <%= @goal.time_spent %><br>
                    Actual Cost: <%= @goal.cost %><br>
                <% end %>
        
                <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group mr-2" role="group" aria-label="First group">
                        <%= edit_goal(@goal) %>
                    </div>

                    <div class="btn-group mr-2" role="group" aria-label="Second group">
                        <%= delete_goal(@goal) %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-header">
                <h3>Latest Update </h3>
            </div>

            <div class="card-body">

                <%= render "view_latest_activity", {:string => "update", :goal => @goal} %>

                        <%= add_("update", @goal) %>

                        <p class="card-text">
                            <%= view_latest_update %>
                        </p>
            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="card">
            <div class="card-header">
                <h3> Latest Resource </h3>
            </div>

            <div class="card-body">

                <%= render "view_latest_activity", {:string => "resource", :goal => @goal} %>
                <%= add_("resource", @goal) %>

                <p class="card-text">
                    <h6><%= view_latest_resource_link %></h6>
                </div>
            </div>
        </div>
    </div>

<div class="row">
    <div class="col-sm">
        <div class="card">
            <div class="card-header">
                <h3>Latest Image </h3>
            </div>

            <div class="card-body">

                <%= render "view_latest_activity", {:string => "image", :goal => @goal} %>
                <%= add_("image", @goal) %>
                <img class="mx-auto d-block img-fluid" <%= view_latest_image %>

            </div>
        </div>
    </div>
</div>
