<div class="row">
    <div class="col">

        <h1><%= @goal.title%></h1>
        <h3><%= link_to @goal.project.address, project_path(@goal.project) %></h3>

        Description: <%= @goal.description %><br>

        <% if current_user.projects.primary_or_owner.include?(@goal.project) %>
            Estimated Budget: $<%= @goal.budget %><br>
        <% end %>
        Status: <%= @goal.status %><br>

        <%= edit_goal(@goal) %><%= delete_goal(@goal) %>
                
    </div>
</div>


<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-header">
                <h3>Latest Update </h3>
            </div>

            <div class="card-body">

                <%= render "view_latest_activity", {:string => "update", :goal => @goal} %>
                <%= add_("update", @goal) %>
                <%= view_latest_update %><br>

            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="card">
            <div class="card-header">
                <h3> Latest Resource </h3>
            </div>

            <div class="card-body">

                <%= render "view_latest_activity", {:string => "resource", :goal => @goal} %>
                <%= add_("resource", @goal) %>
                <h6><%= view_latest_resource_link %></h6><br> 

            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <h3>Latest Image </h3>
            </div>

            <div class="card-body">

                <%= render "view_latest_activity", {:string => "image", :goal => @goal} %>
                <%= add_("image", @goal) %><br>
                <img class="mx-auto d-block" <%= view_latest_image %>

            </div>
        </div>
    </div>
</div>
