<h1><%= @goal.title %></h1>
Description: <%= @goal.description %><br>
Estimated Budget: <%= @goal.budget %><br>
Status: <%= @goal.status %><br>
<br>

<h3>Resources</h3>
<%= link_to "Add a Resource for this Goal", new_goal_resource_path(@goal) %><br>
<ul>
<% @goal.resources.each do |resource| %>
    <li><%= link_to "Link", resource.url %>: <%= resource.description %></li>
    <% end %>
</ul>
<br>

<h3>Images</h3>
<%= link_to "Add an Image for this Goal", new_goal_image_path(@goal) %><br>

<br>

<h3>Updates</h3>
<br>
