<h1> Gallery for <%= @goal.title %> </h1>
<h3><%= @goal.project.address %></h3>
<%= link_to "Add an Image for this Goal", new_goal_image_path(@goal) %>
<br>

<% @images.each do |image| %>
    <div>
        <h5><%= image.caption %></h5>
        <img src="<%=image.url%>" alt="<%=image.caption%>"><br>
        <h5><%= image.genre %></h5><br>
    </div>
<% end %>