<h1> Gallery for <%= @goal.title %> </h1>
<h3><%= @goal.project.address %></h3>
<%= link_to "Add an Image for this Goal", new_goal_image_path(@goal) %>
<br>

<% @images.each do |image| %>
    <div>
        <img src="<%=image.url%>" alt="<%=image.caption%>"><br>
        <h5><%= image.genre %>: <%= image.caption %></h5>

        <%= form_with(url: image_path(image), method: 'delete') do |f| %>
            <%= f.submit "Delete Image" %>
          <% end %>
    </div>
<% end %>