<h1> Gallery for <%= link_to @goal.title, goal_path(@goal) %> </h1>
<h3><%= link_to @goal.project.address, project_path(@goal.project) %></h3>
<button><%= link_to "Add an Image for this Goal", new_goal_image_path(@goal) %></button>
<br>

<% @images.each do |image| %>
    <div>
        <img src="<%= image.url %>" alt="<%= image.caption %>"><br>
        <h5><%= image.genre %>: <%= image.caption %></h5>

        <%= form_with(url: image_path(image), method: 'delete') do |f| %>
            <%= f.hidden_field :goal_id, :value => params[:goal_id] %>
            <%= f.submit "Delete Image" %>
          <% end %>
          <br>
    </div>
<% end %>