<p> goal image index page </p>

<h1> Gallery for <%= @goal.title %> </h1>
<h3><%= @goal.project.address %></h3>

<% @images.each do |image| %>

    <img src="<%=image.url%>" alt="<%=image.caption%>">

    <li><%= image.genre %></li>

    <li><%= image.caption %></li>




<% end %>