<h1> Add an Image for this Goal </h1>
<p> Having trouble? Upload images to Imgur and use the "Direct Link" URL. </p>

<%= render partial: "layouts/errors", locals: {object: @image} %>

<%= form_for(@image, url: goal_images_path) do |f| %>
    <%= f.hidden_field :id %>

    <%= f.label :url %>
    <%= f.url_field :url %><br>

    <%= f.label :caption %>
    <%= f.text_area :caption %><br>

    <%= f.label :genre %>
    <%= f.select  :genre, [["Inspiration", "Inspiration"], ["Design Plans", "Design Plans"], ["Before Photo", "Before Photo"], ["After Photo", "After Photo"], ["Work In Progress", "Work In Progress"]], :prompt => true %><br>

    <%= f.submit %>
<% end %>